In [1]:
import pandas as pd
import glob

print(glob.glob('./Desktop/ml-20m/*'))

['./Desktop/ml-20m/links.csv', './Desktop/ml-20m/tags.csv', './Desktop/ml-20m/genome-tags.csv', './Desktop/ml-20m/ratings.csv', './Desktop/ml-20m/README.txt', './Desktop/ml-20m/genome-scores.csv', './Desktop/ml-20m/movies.csv']

In [ ]:
df_ratings = pd.read_csv('./Desktop/ml-20m/ratings.csv', header=0)

#df_ratings.head()
#df_ratings.set_index('userId')

df_movies = pd.read_csv('./Desktop/ml-20m/movies.csv', header=0)

In [124]:
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [127]:
df_movies.set_index('movieId', inplace=True)
df_movies.index

Int64Index([     1,      2,      3,      4,      5,      6,      7,      8,
                 9,     10,
            ...
            131241, 131243, 131248, 131250, 131252, 131254, 131256, 131258,
            131260, 131262],
           dtype='int64', name='movieId', length=27278)

In [159]:
titles = df_movies[['title']]
titles.head()

new = titles["title"].str.split("(", n = 1, expand = True) 
  
# making separate first name column from new data frame 
titles["year"]= new[1] 

#year_val['year'] = titles['title'].str.split('(')

In [160]:
titles.head()

                                      title   year
movieId
1                          Toy Story (1995)  1995)
2                            Jumanji (1995)  1995)
3                   Grumpier Old Men (1995)  1995)
4                  Waiting to Exhale (1995)  1995)
5        Father of the Bride Part II (1995)  1995)

In [145]:
#movie_stats = df_new.groupby('title').agg({'rating': [np.sum, np.mean]})
year = titles.agg({'title' : str.find('a')})

TypeError: find() takes at least 1 argument (0 given)

In [143]:
test = 'abc'
test.find('a')

0

In [65]:
#df_movies.set_index('movieId')

df_movies_ratings = pd.merge(df_ratings, df_movies, on='movieId')

df_movies_ratings_grouped = df_movies_ratings.groupby(['movieId', 'userId'])

In [66]:
df_movies_ratings.set_index(['userId'], inplace=True)

In [ ]:
df_movies_ratings.sort_values('userId')

In [161]:
#df_movies_ratings.corr()

            movieId    rating  timestamp
movieId    1.000000  0.002606   0.459096
rating     0.002606  1.000000  -0.000512
timestamp  0.459096 -0.000512   1.000000

In [166]:
df_movies_ratings['rating'].unique()

df_movies_ratings

TypeError: ("'numpy.int64' object is not callable", 'occurred at index movieId')

In [ ]:
goodones = (df_movies_ratings['rating'] > 3.0) \
& (df_movies_ratings.index == 40)
#df_movies_ratings.loc[1, :]

titles = df_movies_ratings['title']

In [109]:
titles.head()

userId
1     Jumanji (1995)
5     Jumanji (1995)
13    Jumanji (1995)
29    Jumanji (1995)
34    Jumanji (1995)
Name: title, dtype: object

In [55]:
df_movies_ratings.sort_index(inplace=True)

In [23]:
df_movies_ratings.set_index(['movieId', 'userId'], inplace=True)

df_movies_ratings.sort_index(inplace=True)

In [24]:
df_movies_ratings.head()

                rating   timestamp             title  \
movieId userId
1       3          4.0   944919407  Toy Story (1995)
        6          5.0   858275452  Toy Story (1995)
        8          4.0   833981871  Toy Story (1995)
        10         4.0   943497887  Toy Story (1995)
        11         4.5  1230858821  Toy Story (1995)

                                                     genres
movieId userId
1       3       Adventure|Animation|Children|Comedy|Fantasy
        6       Adventure|Animation|Children|Comedy|Fantasy
        8       Adventure|Animation|Children|Comedy|Fantasy
        10      Adventure|Animation|Children|Comedy|Fantasy
        11      Adventure|Animation|Children|Comedy|Fantasy

In [26]:
df_movies_ratings['rating'].mean()

3.5255285642993797

In [49]:
import numpy as np
df_movies_ratings_grouped = \
df_movies_ratings.groupby(['userId'])['rating'].agg(['count', 'mean'])

In [50]:
df_movies_ratings_grouped.head()

        count      mean
userId
1         175  3.742857
2          61  4.000000
3         187  4.122995
4          28  3.571429
5          66  4.272727